<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('Aplicacion U.P.C.P'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/sigla.png'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div id='container_menu'>
                <div class="container_menu_general" style="width: 80%; float: left;">
                    <div class="container_space" style="width: 7%; float: left;"></div>
                    <div class="container" style="width: 90%; float: right;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse"  title="Click para abrir Men&uacute; o Haga Doble Click para Cerrar el Men&uacute;">

                            <ul class="nav navbar-nav">
                                <li class="active">
                                <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><img src="<?php echo $this->basePath('img/sigla.png') ?>" alt="U.P.C.P"/>&nbsp;<?php echo $this->translate('Aplicacion') ?></a>
                                </li>
                            </ul>
                            <?php
                                $session = new \Zend\Session\Container('User');
                                // En el caso que el usuario este logeado muestra todas las funcionalidades del formulario principal
                                if ($session->offsetExists('username')) {
                            ?>

                            <!--        MODULE : Noticia -->
                            <ul class="nav navbar-nav">
                                <li id = "module">
                                <a href="#" id = 'module-head'> Noticia</a>
                                <div class="list-group" id="module-content" style="display: none;">
                                    <a id = "header" href="#" class="list-group-item active" style="height: 50px; border-color: rgb(47, 47, 47); background-image: linear-gradient(to bottom, rgb(47, 47, 47) 0px, rgb(47, 47, 47) 100%);">Noticia</a>
                                    <a id = "item" class="list-group-item" href="<?php echo $this->url('noticia'); ?>">Noticias</a>
                                    <a id = "item" class="list-group-item" href="<?php echo $this->url('noticia') . '/nuevo'; ?>">Nueva Noticia</a>
                                </div>
                                </li>
                            </ul>

                            <!--        MODULE : CAMPAING -->
                            <ul class="nav navbar-nav">
                                <li id = "module">
                                <a href="#" id = 'module-head'> Informaci&oacute;n</a>
                                <div class="list-group" id="module-content" style="display: none;">
                                    <a id = "header" href="#" class="list-group-item active" style="height: 50px; border-color: rgb(47, 47, 47); background-image: linear-gradient(to bottom, rgb(47, 47, 47) 0px, rgb(47, 47, 47) 100%);">Informaci&oacute;n</a>
                                    <a id = "item" class="list-group-item" href="<?php echo $this->url('informacion') . '/contacto'; ?>">Contactos</a>
                                    <a id = "item" class="list-group-item" href="<?php echo $this->url('informacion') . '/propuesta'; ?>">Propuestas </a>
                                    <a id = "item" class="list-group-item" href="<?php echo $this->url('informacion') . '/denuncia'; ?>">Denuncias </a>
                                </div>
                                </li>
                            </ul>
                            <?php }?>
                    </div>
                </div>
            </div>
            <div id='menu_login' style="width: 20%; float: right;">
                <div class="collapse navbar-collapse">

                    <?php
                        // En el caso que el usuario este logeado muestra todas las funcionalidades del formulario principal
                        if ($session->offsetExists('username')) {
                    ?>
                        <ul class="nav navbar-nav" title="Haga click para cerrar sesion sobre la opcion">
                            <li><a id= "home" href="<?php echo $this->url('auth') . '/logout' ?>">Cerrar Sesion</a></li>
                        </ul>

                    <!-- En el caso que el usuario no este logeado muestra solo la opcion Login en el formulario principal -->
                    <?php } else {?>
                        <ul class="nav navbar-nav" title="Haga click para Iniciar Sesion">
                            <li class="active"><a id= "home" href="<?php echo $this->url('auth') . '/login' ?>">Login</a></li>
                        </ul>
                    <?php }?>
                </div>
            </div>
            </div>

        </nav>
        <div class="container">
            <?php echo $this->content; ?>
            <hr>
            <footer>
                CE-SOFTN 	 &copy; <?php echo date('Y') ?><br>
               <br>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>

<script type="text/javascript">

        $(function() {
            $("li#module").click(function(){
                $(this).children('#module-head').css('display', 'none');
                $(this).children('#module-content').css('display', '');
                $('ul').children('li').attr('id', 'module');
                $(this).attr('id', 'module-active');
                $('ul').children('li#module').children('#module-head').css('display', '');
                $('ul').children('li#module').children('#module-content').css('display', 'none');
            });

            $("li#module").dblclick(function(){
                $(this).children('#module-head').css('display', '');
                $(this).children('#module-content').css('display', 'none');
                $('ul').children('li').attr('id', 'module');
                $(this).attr('id', 'module');
                $('ul').children('li#module').children('#module-head').css('display', '');
                $('ul').children('li#module').children('#module-content').css('display', 'none');
            });

        });
</script>
</html>
