<div class="jumbotron">
    <h1><?php echo sprintf($this->translate('Bienvenido app %sUPCP%s'), '<span class="zf-green">', '</span>') ?></h1>
    <div align="center">
    	<img alt="" src="img/IMG-20141102-WA0019.jpg">
    </div>
</div>

<div class="row">
	<h3 class="panel-title"><?php echo $this->translate('Ayuda &amp; Sorposte:') ?></h3>
</div>
