<div class="rowMassage">
    <div class="col-md-12"><?php echo $this->message() ?></div>
<?php
    $title = 'Lista de Contactos';
    $this->headtitle($title);
?>
<form method="POST" id="noticiasLista">
<h1> <?php echo $this->escapehtml($title);?> </h1>
    <table class="table" id='tableList'>
        <thead>
	        <tr>
	            <th>Telefono</th>
	            <th>Nombre</th>
	            <th data-sorter="shortDate" data-date-format="ddmmyyyy">Fecha</th>
	            <th data-sorter="shortDate">Hora</th>
	        </tr>
		</thead>
		    <tbody>
            <?php foreach ($this->contactos as $contacto) :?>
                <tr>
                	<td><?php echo $this->escapehtml($contacto->con_telefono);?></td>
                	<td><?php echo $this->escapehtml($contacto->con_nombre);?></td>
                    <td><?php
                            $date = new DateTime($contacto->con_fecha);
                            echo $this->escapehtml($date->format('d/m/Y'));
                         ?>
                    </td>
                    <td><?php echo $this->escapehtml($contacto->con_hora);?></td>
                </tr>
            <?php endforeach;?>
            </tbody>
        </table>
    <div class="button" align="right">
    </div>
</form>
</div>