<div class="rowMassage">
    <div class="col-md-12"><?php echo $this->message() ?>
</div>
<?php
    $title = 'Lista de Denuncias';
    $this->headtitle($title);
?>
<form method="POST" id="noticiasLista">
<h1> <?php echo $this->escapehtml($title);?> </h1>
    <table class="table" id='tableList'>
        <thead>
	        <tr>
	            <th>Asunto</th>
	            <th>Descripcion</th>
	            <th>Fecha</th>
	            <th class="thRemove" title="Opcion para Eliminar Denuncia seleccionada"></th>
	        </tr>
		</thead>
		    <tbody>
            <?php foreach ($this->denuncias as $denuncia) :?>
                <tr>
                	<td><?php echo $this->escapehtml($denuncia->den_asunto);?></td>
                	<td><?php echo $this->escapehtml($denuncia->den_descripcion);?></td>
                    <td><?php
                            $date = new DateTime($denuncia->den_fecha);
                            echo $this->escapehtml($date->format('d/m/Y'));
                         ?>
                    </td>
                    <td align="center">
                         <input type="checkbox" name="id[]" value="<?php echo $denuncia->den_id;?>">
                    </td>
                </tr>
            <?php endforeach;?>
            </tbody>
        </table>
    <div class="button" align="right">
        <?php if (count($this->denuncias) > 0) :?>
            <input type="submit" name="eliminar" value="Eliminar" class="btn btn-danger">
        <?php endif;?>
    </div>
</form>
</div>