<div class="rowMassage">
    <div class="col-md-12"><?php echo $this->message() ?></div>
<?php
    $title = 'Lista de Propuestas';
    $this->headtitle($title);
?>
<form method="POST" id="noticiasLista">
<h1> <?php echo $this->escapehtml($title);?> </h1>
    <table class="table" id='tableList'>
        <thead>
	        <tr>
	            <th>Titulo</th>
	            <th>Descripcion</th>
	            <th >Fecha</th>
	            <th >Contacto</th>
	            <th class="thRemove" title="Opcion para Eliminar Propuesta seleccionada"></th>
	        </tr>
		</thead>
		    <tbody>
            <?php foreach ($this->propuestas as $propuesta) :?>
                <tr>
                	<td><?php echo $this->escapehtml($propuesta->pro_titulo);?></td>
                	<td><?php echo $this->escapehtml($propuesta->pro_descripcion);?></td>
                    <td><?php
                            $date = new DateTime($propuesta->pro_fecha);
                            echo $this->escapehtml($date->format('d/m/Y'));
                         ?>
                    </td>
                    <td><?php echo $this->escapehtml($propuesta->pro_contacto_id);?></td>
                    <td align="center">
                         <input type="checkbox" name="id[]" value="<?php echo $propuesta->pro_id;?>">
                    </td>
                </tr>
            <?php endforeach;?>
            </tbody>
        </table>
    <div class="button" align="right">
        <?php if (count($this->propuestas) > 0) :?>
            <input type="submit" name="eliminar" value="Eliminar" class="btn btn-danger">
        <?php endif;?>
    </div>
</form>
</div>