<div class="rowMassage">
    <div class="col-md-12"><?php echo $this->message() ?></div>
<?php
    $title = 'Lista de noticias';
    $this->headtitle($title);
?>
<form method="POST" id="noticiasLista">
<h1> <?php echo $this->escapehtml($title);?> </h1>
    <table class="table" id='tableList'>
        <thead>
	        <tr>
	            <th>Titulo</th>
	            <th>Descripcion</th>
	            <th data-sorter="shortDate" data-date-format="ddmmyyyy">Fecha</th>
	            <th class="thUpdate" title="Opcion para visulizar y editar la informacion de la noticia seleccionada excepto los anuncios."></th>
	            <th class="thRemove" title="Opcion para Eliminar Noticia seleccionada"></th>
	        </tr>
		</thead>
		    <tbody>
            <?php foreach ($this->noticias as $noticia) :?>
                <tr>
                	<td><?php echo $this->escapehtml($noticia->not_titulo);?></td>
                	<td><?php echo $noticia->not_descripcion?></td>
                    <td><?php
                            $date = new DateTime($noticia->not_fecha);
                            echo $this->escapehtml($date->format('d/m/Y'));
                         ?>
                    </td>
                    <td>
                    <?php
                    	$url = $this->url('noticia', array('action' => 'modificar'), array('query' => ['noticia_id' => $noticia->not_id]));
                    ?>
                    <a href="<?php echo $url?>">Editar</a>
                    </td>
                    <td align="center">
                         <input type="checkbox" name="id[]" value="<?php echo $noticia->not_id;?>">
                    </td>
                </tr>
            <?php endforeach;?>
            </tbody>
        </table>
    <div class="button" align="right">
            <a class="btn btn-success" id="buttonNew"
                href="<?php echo $this->url('noticia',array('action'=>'nuevo'));?>">Nuevo
            </a>
        <?php if (count($this->noticias) > 0) :?>
            <input type="submit" name="eliminar" value="Eliminar" class="btn btn-danger">
        <?php endif;?>
        <input type="submit" name="cancel" value="Cancelar" id = "btnCancel" style="display: none;" class="btn btn-default">
    </div>
</form>
</div>