<script type="text/javascript" src="<?php echo $this->basePath('/js/jhtmlArea/scripts/jHtmlArea-0.8.js')?>"></script>
<link href="<?php echo $this->basePath('/js/jhtmlArea/style/jHtmlArea.css')?>" rel="stylesheet" media="screen">
<div class="row">
<?php
$title = 'Modificar Noticia';
$this->headtitle($title);
?>
	<!-- Div para mostrar mensaje respuesta del servidor -->
    <div class="rowMassage">
        <div class="col-md-12"><?php echo $this->message() ?></div>
    </div>
<?php if (!$this->warning):?>
<form method="POST" id="noticiasLista" >

	<div align="center">

		<h1> <?php echo $this->escapehtml($title);?> </h1>
		<table>
			<tbody>
				<tr>
					<td>Titulo</td>
					<td><input type="text" name="not_titulo" required size="40" value="<?php echo $this->noticia->not_titulo?>"><br></td>
				</tr>
				<tr>
					<td>Descripcion</td>
					<td>
						<textarea name="not_descripcion" id="txtDefaultHtmlArea" cols="90" rows="15" required><?php echo $this->noticia->not_descripcion?></textarea>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="hidden" name="not_id" value="<?php echo $this->noticia->not_id?>">
	</div><br>
	<div class="button" align="center">
		<input type="submit" name="actualizar" value="Actulizar" class="btn btn-success">
        <a class="btn btn-danger" id="buttonRemove"
           href="<?php echo $this->url('noticia',array());?>">Cancelar
        </a>
	</div>
</form>
<?php endif;?>
</div>
<?php echo $this->form()->closeTag(); ?>
    <script type="text/javascript">
        // You can do this to perform a global override of any of the "default" options
        // jHtmlArea.fn.defaultOptions.css = "jHtmlArea.Editor.css";

        $(function() {
            //$("textarea").htmlarea(); // Initialize all TextArea's as jHtmlArea's with default values

            $("#txtDefaultHtmlArea").htmlarea(); // Initialize jHtmlArea's with all default values

            $("#txtCustomHtmlArea").htmlarea({
                // Override/Specify the Toolbar buttons to show
                toolbar: [
                    ["bold", "italic", "underline", "|", "forecolor"],
                    ["p", "h1", "h2", "h3", "h4", "h5", "h6"],
                    ["link", "unlink", "|", "image"],
                    [{
                        // This is how to add a completely custom Toolbar Button
                        css: "custom_disk_button",
                        text: "Save",
                        action: function(btn) {
                            // 'this' = jHtmlArea object
                            // 'btn' = jQuery object that represents the <A> "anchor" tag for the Toolbar Button
                            alert('SAVE!\n\n' + this.toHtmlString());
                        }
                    }]
                ],

                // Override any of the toolbarText values - these are the Alt Text / Tooltips shown
                // when the user hovers the mouse over the Toolbar Buttons
                // Here are a couple translated to German, thanks to Google Translate.
                toolbarText: $.extend({}, jHtmlArea.defaultOptions.toolbarText, {
                        "bold": "fett",
                        "italic": "kursiv",
                        "underline": "unterstreichen"
                    }),

                // Specify a specific CSS file to use for the Editor
                css: "style//jHtmlArea.Editor.css",

                // Do something once the editor has finished loading
                loaded: function() {
                    //// 'this' is equal to the jHtmlArea object
                    //alert("jHtmlArea has loaded!");
                    //this.showHTMLView(); // show the HTML view once the editor has finished loading
                }
            });
        });
    </script>